SECRET_KEY=your-secret-key-shu-yerga
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# SQLite bilan ishlash uchun quyidagi 5 qatorni o'chirib tashlashingiz mumkin (default shu)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=hr_payroll_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
